.Button {
  background-color: transparent;
  border: none;
  color: #eee;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 20px;
  font-weight: bold;
  background-color: #948a72;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Button:first-of-type {
  margin-left: 0;
}
