.Testimonial {
  height: 250px;
  position: relative;
}

.Description {
  line-height: 2.1;
  color: #6b6b74;
  font-weight: 300;
}

.ImageContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
}

.Image {
  max-width: 100%;
}

.Name {
  margin: 0;
  position: absolute;
  left: 80px;
  bottom: 45px;
}

.Title {
  margin: 0;
  position: absolute;
  left: 80px;
  bottom: 20px;
}
